/* .App {
  text-align: center;
}
*/

@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  font-size: 100%;
  font-family: 'Questrial', sans-serif;
  overflow: hidden;
}

h1, p {
  color: #efeff4;
}

h1 {
  font-weight: bold;
  font-size: 76px;
}

p {
  font-size: 14px;
  font-weight: lighter;
}

.jumbotron {
  background-image: url("./image/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20%;
}

.btn {
  background: transparent;
  border: 2px solid white !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn:hover {
  background: #000;
  color: #efeff4;
}


@media all and (max-width: 768px) {
  .jumbotron {
    padding-top: 50%;
  }

  h1 {
    font-size: 60px;
  }
}